#pricing{
  text-align: center;
  padding: 4em 0;


p.plorem{
  margin-bottom: 2em;
  font-weight: bold;
}
  p.pheading{
    margin: 2em 0;
  }
.priceoption{
  border: 1px solid black;
  height: 44em;
  position: relative;




  h3{
    background-color: #bf40bf;
    margin: 0;
    padding: 0.6em 0 ;
    text-transform: uppercase;
  }

  p.description{
    font-weight: bold;


  }

a.signup{
   position: absolute;
   bottom: 1em;
   left: 2em;
   right: 2em;
}

}
}
