@import "theme",
        "landing",
         "common",
         "features",
         "takelook",
         "videoimage",
         "customization",
         "pricing";

#intro{
  text-align: center;
  padding: 2em;
}

.btn-solid{
  font-weight: bold;
  background-color: $primary-color;
  color: $light-font-color;
  text-transform: uppercase;

  font-weight: bold;
  margin: 1em;
  padding: 1em 3em;
&:hover {  color: $light-font-color;
}
}

.btn-outline{
  color: primary-color;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 1em;
  border: 1px solid $primary-color;
  padding: 1em 3em;
  &:hover{
    color: grey;
  }
}

h2{
  margin-top: 1.5em;
}

p{
  font-size: 1.2em;
}
